body {
    background: radial-gradient(orange, goldenrod);
    font-family: 'Trebuchet MS';
    text-align: center;
    font-size: 200%;
    position: relative
}

h1 {

    font-weight: bold; /*Bold text */
    color: rgb(73,22,109); /*Text color */
}

img {
    padding: 10px;
    width:25%;

}

img:hover {
    transform: scale(4.4);
    transition: all 10s;
}

.container {
    position: absolute;
    top: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 200px;    
}