body {
    background: radial-gradient(orange, goldenrod);
    font-family: 'Trebuchet MS';
    text-align: center;
    font-size: 200%;
    position: relative
}

h1 {

    font-weight: bolder; /*Bold text */
    color: black; /*Text color */
}

img {
    padding: 10px;
    width:25%;

}

img:hover {
    transform: scale(1.4);
    transition: all 1s;
}

p1 {
    color: darkblue;
    font-size: 150%;
}

.container {
    position: absolute;
    top: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 200px;    
}